@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    text-align: center;
    
    &#home{
        margin-top: 10em;
    }
}

.form-horizontal .form-group {
    margin: 0 25%;
}

.form-group.text-center {
    margin-top: 1.5em;
}

.navbar {
    margin-bottom: 0;
}

ul.alert.alert-danger {
    padding-left: 5em;
}

table {
    margin: 0 auto;
    margin-top: 5em
}